
 html, body, main {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
     #map {
     	bottom: 0px;
    	left: 0px;
    	position: relative;
        height: 100%;
        float: right;
        width: 74%;
      }


.container{
	width: 100%;
	
}

.optionsBox{
	float: left;
	width: 25%;
	position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
	

	}

.optionsBox.open{
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}	

@media screen and (min-width: 600px) {
	.optionsBox {
		position: relative;
		transform: translate(0, 0);
		width: 300px;
		height: 100%;
		position: absolute;
		transform: translate(-300px, 0);
		transition: transform 0.3s ease;
	}

	body {
		display: flex;
		flex-flow: row nowrap;
	}

	main {
		width: auto;
		flex-grow: 1;
	}
}
	

